demucs==3.0.4
ffmpeg==1.4
librosa==0.8.0
matplotlib==3.5.3
mido==1.2.10
music21==7.3.3
numpy==1.19.5
pandas==1.4.3
pedalboard==0.5.9
pytube==12.1.0
sklearn
spleeter==2.3.1
tensorflow==2.5.0
tqdm==4.64.0
ipython
jupyter